<div class="tasks-container cdk-drag-animating w-full px-2 py-3 bg-white border-b-[1px] border-black shadow-md" (dblclick)="onDoubleClick()">
    <div class="flex w-full justify-between">
        <p class="">{{task.heading}}</p>
        <input type="checkbox" (change)="completeTask(task)" [checked]="task.complete" class="mr-2">
    </div>
    <div class="description">
        <p>{{task.description}}</p>
        <p *ngIf="task.variable_dueDate" class="text-red-500">{{formatDate(task.variable_dueDate)}}</p>
    </div>
</div>