<div class="bg-gray-100 h-[500px] py-2 px-4">
    <div class="w-full flex justify-between items-center mb-3">
        <div class="flex items-center gap-2">
          <!-- Display column name or input for editing -->
          <ng-container *ngIf="!isEditingColumn; else editColumn">
              <h3 class="text-lg font-semibold">{{ column.name }}</h3>
          </ng-container>
          <ng-template #editColumn>
              <input type="text" class="text-lg font-semibold" [(ngModel)]="editedColumnName" (keyup.enter)="onEditColumn()">
          </ng-template>
          <!-- edit-->
          <button *ngIf="!column.inbuilt" (click)="toggleEditColumn()">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24">
                  <rect width="24" height="24" fill="none" />
                  <path fill="black" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z" />
              </svg>
          </button>
          <!-- delete -->
          <button *ngIf="!column.inbuilt" (click)="onDeleteColumn(column)">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
              <rect width="24" height="24" fill="none" />
              <path fill="black" d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z" />
            </svg>
          </button>
        </div>
        <app-add-task-dialog [columnName]="column.name" (taskAdded)="addTask($event)" (repeatTaskAdded)="addRepeatTasks($event)"></app-add-task-dialog>
    </div>
      <div
        cdkDropList
        class="example-list"
        [cdkDropListData]="column.tasks"
        [cdkDropListAutoScrollDisabled]="true"
        (cdkDropListDropped)="drop($event)"
        [attr.data-column-name]="column.name"
        >
        @for (item of filterTasks(column.name, column.tasks); track item) {
          <app-task-item [task]="item" class="example-box" (taskDeleted)="onDeleteTask($event)" cdkDrag></app-task-item>
        }
      </div>
      
</div>